.summary-modal h6{text-align:left;}
.table{
  width: 92%;
  margin: auto 0 auto 90px;
}
.product_list tr{
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    padding: 10px !important;
}
.product_list th{
    text-align: left;
    font: normal normal 600 16px/48px Open Sans;
    letter-spacing: 0px;
    color: #eeecec;
    padding: 0 !important;
    min-width: 90px;
}
.product_list th:first-child{
    padding: 0 0 0 15px !important;
}
.product_list td{
    vertical-align: middle;
    text-align: left;
}
.wrapper {
    display: flex;
    align-items: center;
  }
  
  img {
      width: 30px;
      height: 30px;
    max-width: 100%
  }
  
  .image {
    flex-basis: 15%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }
.quantity{
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 15px;
}
.quan{
  width:40px;
  text-align:center;
}
.quantity::after{
    display: none;
}
#createOrder h5, #pastOrder h5{
  text-align: left;
  font: normal normal 600 16px/48px Open Sans;
  letter-spacing: 0px;
  color: #1E2022;
  margin-left: 4.6rem;
  opacity: 1;
}
#createOrder ul li{
    display:inline-block;
    list-style-type: none;
    padding: 0 20px;
}
#createOrder ul li:first-child{
    padding-left: 0;
}
#createOrder ul li:last-child{
    padding-right: 0;
}
.cont{
  border:none;
  background: none;
}
.total{
  color:#5861AE;
  font-size: 18px;
}
.btn-regular, .btn-filled{
    float: right;
    width: 81px;
    height: 32px;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 14px;
    line-height: 1;
}
.reset{
  color:#5861AE;
  border-radius: 8%;
  border-color: #b9bee9ab;
  
}
.btn-cancel{
    position: absolute;
    width: 140px;
    height: 40px;
    right: 210px;
    margin-top: 30px;
}
.btn-proceed{
    position: absolute;
    width: 140px;
    height: 40px;
    right: 55px;
    margin-top: 30px;
}
p{
    text-align: left;
    font: normal normal normal 10px/20px Open Sans;
    letter-spacing: 0px;
    color: #76788B;
    opacity: 1;
}

/* MOdal */
.summary-modal.fade:not(.in).right .modal-dialog {
    transform: translate3d(5%, 0, 0);
  }
  
  .summary-modal.right .modal-dialog {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    width: 800px;
  }
  
  .modal.left .modal-dialog {
    position:absolute;
    top:0;
    left:0;
    margin:0;
  }
  
  .modal.left .modal-dialog.modal-sm {
    max-width:300px;
  }
  
  .modal.left .modal-content, .modal.right .modal-content {
    min-height:100vh;
    border:0;
  }
  .summary-modal .modal-header{
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .summary-modal .modal-header .close{
    position: absolute;
    right: 65px;
  }
  .summary-modal .modal-header h4{
    color: #fff;
  }

.summary-modal .table{
    width: 95%;
    margin: 0;
}
.summary-modal .table tr:last-child{
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
}
.summary-modal .table td{
    font-size: 14px;
}
.summary-modal .card{
    margin-right: 20px;
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
}
.summary-modal .add-more{
    margin-top: 25px;
}
.summary-modal .add-more a{
    text-align: left;
    font: normal normal bold 18px/24px Open Sans;
    letter-spacing: 0.18px;
    color: #5861AE;
    opacity: 1;
    text-decoration: none;
}
.summary-modal .bottom-btn{
    background: #F4F4F4 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #00000015;
    position: fixed;
    bottom: 20px;
    min-height: 82px;
    width: 100%;
    opacity: 1;
}
.proceedCancelBtn{
  margin-bottom: 5rem;
}

#pastOrder, #createOrder{
  min-height: 550px;
}

#pastOrder .navbar-btn{
  background: none;
  border: none;
}