#footer h3{
    text-align: left;
    font: normal normal normal 18px/24px  Avenir-Book;
    font-weight: 600;
    letter-spacing: 0.18px;
    color: #182838;
    text-transform: uppercase;
}
#footer h4{
    text-align: left;
    font: normal normal normal 16px/24px  Avenir-Book;
    font-weight: 600;
    letter-spacing: 0.16px;
    color: #182838;
    text-transform: capitalize;
    opacity: 1;
}
#footer p{
    font: normal normal normal 15px/20px  Avenir-Book;
    letter-spacing: 0.6px;
    color: #3D3D43;
    text-transform: capitalize;
    text-align: left;
    opacity: 1;
}
.top-footer{
    background: #F8F9FF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #0000000B;
    opacity: 1;
    border-top: 3px solid #5861AE;
}
.top-footer h2{
    font: normal normal 600 24px/26px Open Sans;
    letter-spacing: 0.96px;
    color: #5861AE;
    opacity: 1;
}
.top-footer p{
    text-align: center;
    font-size: 10px;
}
#footer {
    background-image: url('../uploads/Footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}
#footer ul{
    list-style-type: none;
    padding-left: 0;
}
#footer ul li{text-align: left;}
#footer ul li a{
    text-align: left;
    text-decoration: none;
    font: normal normal normal 14px/24px  Avenir-Book;
    letter-spacing: 0.14px;
    color: #182838;
    text-transform: capitalize;
    opacity: 1;
}
.bottom-footer{
    background: #182838 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
}
.bottom-footer label{
    text-align: center;
    font: normal normal normal 12px/24px Avenir;
    letter-spacing: 0.12px;
    color: #FFFFFF;
    vertical-align: text-top;
    opacity: 0.6;
}