#login h1{
    text-align: left;
    font: normal normal 900 100px/120px Avenir;
    letter-spacing: 0px;
    color: #5861AE;
    text-transform: capitalize;
    opacity: 1;
}
#login .login-section h3{
    text-align: left;
    font: normal normal normal 32px/60px Avenir;
    letter-spacing: 1.28px;
    color: #4552C1;
    text-transform: uppercase;
    opacity: 1;
}
#login h4{
    text-align: left;
    font: normal normal normal 20px/26px Avenir-Book;
    letter-spacing: 0.8px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
}
#login h6{
    text-align: left;
    font: normal normal normal 16px/26px Avenir-Book;
    letter-spacing: 0.64px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
}
#login  button{
    float: left;
}
#login .register-section{
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    min-height: 600px;
    width: 40% !important;
    margin: auto;
}
#login .login-section{
    background: #B9C0FD1A 0% 0% no-repeat padding-box;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-left: 7rem !important;
    opacity: 1;
}
/* Login form */
#login .form-control{
    width:64%;
    padding: 1.95rem .3rem .35rem 0;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    text-align: left;
    font: normal normal normal 17px/27px Open Sans;
    letter-spacing: 0.6px;
    color: #77838F;
    opacity: 1;
}
#login .form-control:focus{
    background-color: inherit;
    box-shadow: none;
}
#login small{
    font: normal normal normal 16px/26px Avenir;
    letter-spacing: 0.64px;
    color: #4552C1;
    text-transform: capitalize;
    opacity: 1;
    position: absolute;
    bottom: -47px;
    right: 210px;
}
#login .btn{
    width: 150px;
    height: 50px;
}
#login .submit-btn{
    float: left;
    margin: 4rem;
}
#login form{
    position: relative;
}